{# templates/Project/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Creat new Ticket{% endblock %}

{% block body %}
  <div align="center">
    <h1>Create new Ticket</h1>

    {#{ form ( form ) }#}
     {{ form_start ( form ) }}
      <div>
         {{ form_errors ( form ) }}
      <div>
              {{ form_label ( form.name , ' Name' ) }} <br>
              {{ form_widget ( form.name , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
       <div>
              <br>{{ form_label ( form.type , ' Type' ) }}<br>
              {{ form_widget ( form.type , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
       <div>
             <br> {{ form_label ( form.status , ' Status' ) }} <br>
              {{ form_widget ( form.status , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
       <div>
             <br> {{ form_label ( form.addressee , ' Addressee' ) }} <br>
              {{ form_widget ( form.addressee , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
       <div>
             <br> {{ form_label ( form.description , ' Description' ) }} <br>
              {{ form_widget ( form.description , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
        <div>
             <br> {{ form_label ( form.tags_string , ' Tags' ) }} <br>
              {{ form_widget ( form.tags_string , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >
       <div>
             <br> {{ form_label ( form.file , ' File' ) }} <br>
              {{ form_widget ( form.file , { 'attr' : { 'class' : 'task_field' }} ) }}
       </ div >

     {{ form_end ( form ) }}
     <br><br>
    <button type="submit" class="btn btn-success">Send</button>
  </div>
<div><button type="button" style="margin: 10px 10px 20px 1000px"  onclick="location.href='{{ path('show_project', {'id':proj.id}) }}'" class="btn btn-secondary">Back</button><div>
{% endblock %}

