 {# templates/project/number.html.twig #}
{% extends 'base.html.twig' %}
 
{% block title %}List of projects{% endblock %}

{% block body %}


<div><button type="button" style="margin: 0px 0px 0px 20px" class="btn btn-success" onclick="location.href='{{ path('creat_proj') }}'">Create Project</button></div>

 <div class="card-body">
       <H1 align="center"> List of projects </H1>
       <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Creator</th>
    </tr>
  </thead>
  <tbody>
   {% for project in project %}
    <tr>
      <td>{{ project.id }}</td>
      <td><a style="color: white;" href="{{ path('show_project', {'id':project.id}) }}">{{ project.nameProj }}</a></td>
      <td>{{ project.author.id }}</td>
      {% if  is_granted('ROLE_ADMIN')  or is_granted('ROLE_USER_' ~ project.author.id)  %}
          <td> <button type="button" class="btn btn-outline-light" onclick="location.href='{{ path('edit_proj', {'id':project.id}) }}'">Edit</button> </td>
          <td> <button type="button" class="btn btn-outline-light" onclick="location.href='{{ path('delete_proj', {'id':project.id}) }}'">Delete</button> </td>
      {% endif %}
    </tr>
   {% endfor %}
  </tbody>
 </table>
</div>
{% endblock %}
