 {# templates/project/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} {{ proj.nameProj }}{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER_' ~ proj.author.id) or is_granted('ROLE_ADMIN') %}
<div><button type="button" style="margin: 0px 0px 0px 20px" class="btn btn-success" onclick="location.href='{{ path( 'creat_ticket', {'proj_id': proj.id}) }}'">Create Ticket</button></div>
{% endif %}

 <div class="card-body">
       <H1 align="center">{{ proj.nameProj }}</H1>
       <H1 align="center">List of tickets</H1>
       <table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Creator</th>
      <th scope="col">Addressee</th>
    </tr>
  </thead>
  <tbody>
   {% for ticket in proj.ticket %}
    <tr>
      <td>{{ ticket.id }}</td>
      <td><a style="color: white;" href="{{ path( 'ticket', {'id':ticket.id}) }}" >{{ ticket.name }}</a></td>
      <td>{{ ticket.creator.username }}</td>
      <td>{{ ticket.addressee.username }}</td>
      {% if is_granted('ROLE_USER_' ~ ticket.creator.id) or is_granted("ROLE_ADMIN") %}
          <td> <button type="button" class="btn btn-outline-light" onclick="location.href='{{ path( 'edit_ticket', {'id':ticket.id, 'project_id':proj.id}) }}'">Edit</button> </td>
          <td> <button type="button" class="btn btn-outline-light" onclick="location.href='{{ path('delete_ticket', {'id':ticket.id, 'project_id':proj.id}) }}'">Delete</button> </td>
       {% endif %}
    </tr>
   
     {% endfor %}
  </tbody>
 </table>
</div>
<div><button type="button" style="margin: 10px 0px 0px 1150px" onclick="location.href='{{ path('list_proj') }}'" class="btn btn-secondary">List of projects</button><div>
{% endblock %}

